.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;

  width: 100%;
  height: 2.5rem;

  background-color: white;
  box-sizing: border-box;

  &__image {
    position: absolute;
    left: 1rem;
    width: 140px;
  }
}
