.card {
  &__label {
    &__container {
      position: absolute;
      bottom: 5.625rem;
      right: 0;
    }

    &__content {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 2.5rem;
      padding: 1rem 3.125rem;

      color: #fff;
      font-size: 12px;
      font-weight: bold;

      background-color: #0d0d0d;
    }
  }
}
